# Project data / artifacts (keep code only)
/data/
/venv/
/.vscode/


# Python cache / virtualenv clutter
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.cache/

# Notebooks & editor junk
.ipynb_checkpoints/
.idea/
.DS_Store
Thumbs.db
*.log
*.tmp
*.swp

# Secrets
.env
.env.*
